.git
.github
.idea
.vscode
coverage
dist
logs
node_modules
.DS_Store
*.log
*.pid
*.seed
*.pid.lock
.env
.env.*
!.env.example
!.env.development.example
!.env.production.example
.temp
.tmp
tmp
Dockerfile
docker-compose.override.yml
